<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <nav th:replace="fragments :: nav"></nav>





    <div class="main">

        <section class="module pt-0 pb-0" id="about">
            <div class="row position-relative m-0">
                <div class="col-xs-12 col-md-6 side-image" th:data-background="@{/images/section-14.jpg}"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="module-title font-alt align-left" th:text="${name} + ' ' + ${lastName}"></h2>
                            <!--<div class="module-subtitle font-serif align-left"></div>-->
                            <p th:text="${email}"></p>
                            <p th:text="${phone}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<h1 th:text="${profile.id}"></h1>-->
        <!--<section class="module bg-dark-30 about-page-header" data-background="assets/images/about_bg.jpg">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6 col-sm-offset-3">-->
                        <!--<h1 class="module-title font-alt mb-0">Profile</h1>-->
                        <!--<h1 th:text="${id}"></h1>-->
                        <!--<h1 th:text="${name}"></h1>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->


        <hr class="divider-d">
        <footer th:replace="fragments :: footer"></footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<span th:replace="fragments :: scripts"></span>
</body>
</html>