<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" th:replace="fragments :: nav"></nav>
    <div class="main">
        <!--<h1 th:text="${id}"></h1>-->
        <!--<tr th:each="rate : ${rates}">-->
            <!--<td th:text="${rate.rate}"></td>-->
        <!--</tr>-->
        <!--<div th:text="${rateFactors}"></div>-->

        <section class="module bg-dark-30 about-page-header" data-background="assets/images/about_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h1 class="module-title font-alt mb-0">Profile</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4 class="font-alt mb-0">Update You Profile</h4>
                        <hr class="divider-w mt-10 mb-20">
                        <form class="form" th:action="@{/my-profile}" role="form" method="post">
                            <!--<div class="form-group">-->
                                <!--<label for="username">Username</label>-->
                                <!--<input class="form-control" id="username"  name="username" disabled="" type="text" th:placeholder="${username}"/>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label for="email">Email (Username)</label>
                                <input class="form-control" id="email" name="email" type="text" th:placeholder="${email}" th:value="${email}"/>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Phone</label>
                                <input class="form-control" id="phone" type="text" name="phone"/>
                            </div>
                            <div class="form-group">
                                <h2>My Rates</h2>
                                <!--<div class="form-group" th:each="rateFactor : ${rateFactors}">-->
                                    <!--<label th:text="${rateFactor.rateFactor}"></label>-->
                                    <!--<input class="form-control input-sm" type="text" th:name="${rateFactor.rateFactor}">-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label>Rate x sqf</label>
                                    <input class="form-control input-sm" type="number" step="0.01" name="rate">
                                </div>
                            </div>
                            <!--<div th:each="rateFactor : ${rateFactors}">-->
                                <!--<div class="form-group">-->
                                    <!--<div th:text=${rateFactor.rateFactor"></div>-->
                                    <!--<input class="form-control input-sm"  type="text" th:name="${rateFactor.rateFactor"/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <button class="btn btn-round btn-b" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <hr class="divider-d">
        <footer th:replace="fragments :: footer"></footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<span th:replace="fragments :: scripts"></span>
</body>
</html>