<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <nav th:replace="fragments :: nav"></nav>

    <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home" th:data-background="@{/images/section-1.jpg}">

        <div class="titan-caption">
            <div class="caption-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4 class="font-alt mb-0">Tile Installation Quote</h4>
                            <hr class="divider-w mt-10 mb-20">
                            <form class="form bg-search-tile" role="form" method="post">
                                <div class="form-row">
                                    <br />
                                    <h5 class="font-alt mb-0">Tile size</h5>
                                    <br />
                                    <!--<div class="col-md-5 mb-3">Tile Size</div>-->
                                    <div class="col-md-5 mb-3">
                                        <select class="form-control input-sm" name="tileSizeLenght">
                                            <option selected>Lenght</option>
                                            <option value="12">12''</option>
                                            <option value="24">24''</option>
                                            <option value="36">36''</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        X
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <select class="form-control input-sm" name="tileSizeWidth">
                                            <option selected>Width</option>
                                            <option value="12">12''</option>
                                            <option value="24">24''</option>
                                            <option value="36">36''</option>
                                        </select>
                                    </div>
                                    <!--<div th:each="rateFactor : ${ratesFactor}" class="col-md-5 mb-3">-->
                                        <!--&lt;!&ndash;<div th:text="${rateFactor.rateFactor}"></div>&ndash;&gt;-->
                                        <!--<input type="checkbox"  >-->
                                        <!--<label th:text="${rateFactor.rateFactor}" th:for="${rateFactor.rateFactor}"></label>-->
                                    <!--</div>-->
                                </div>
                                <br />
                                <br />
                                <h5 class="font-alt mb-0">Surface</h5>
                                <br />
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <input class="form-control input-sm" type="text" name="surface" placeholder="In sqf"/>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <h5 class="font-alt mb-0">Type of Tile</h5>
                                <br />
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <select class="form-control input-sm" name="typeOfTile" id="">
                                            <option selected>Type of tile</option>
                                            <option value="Ceramic">Ceramic</option>
                                            <option value="Porcelain">Porcelain</option>
                                            <option value="White Body">White Body</option>
                                        </select>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />
                                <div class="text-center">
                                    <button class="btn btn-round btn-d" type="submit">Quote</button>
                                </div>
                                <br />
                                <br />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main">



        <!--<section id="searchquote">-->
        <!--<p th:text="${tileSizeLenght}"></p>-->
        <!--<p th:text="${tileSizeWidth}"></p>-->
        <!--<p th:text="${surface}"></p>-->
        <!--<p th:text="${typeOfTile}"></p>-->
        <!--<p th:text="${qtyOfTile}"></p>-->
            <!--<p th:text="${finalRate}"></p>-->



            <!--<table th:each="rate : ${rates}" class="table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th scope="col">Username</th>-->
                    <!--<th scope="col">Email</th>-->
                    <!--<th scope="col">Rate</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td th:text="${rate.user.username}"></td>-->
                    <!--<td th:text="${rate.user.email}"></td>-->
                    <!--<td th:text="${rate.rate}*${surface}"></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->



        <!--</section>-->

        <section class="module">
            <div class="container">
                <div class="row post-masonry post-columns">
                    <div th:each="rate : ${rates}"  class="col-sm-6 col-md-3 col-lg-3">
                        <div class="post">
                            <!--<div class="post-thumbnail"><a href="#"><img src="assets/images/post-2.jpg" alt="Blog-post Thumbnail"/></a></div>-->
                            <div class="post-header font-alt">
                                <h2 th:text="${rate.user.username}" class="post-title"><a href="#">Our trip to the Alps</a></h2>
                                <div th:text="${rate.user.email}" class="post-meta"></div>
                            </div>
                            <div class="post-entry">
                                <h1 th:text="${'$ ' + rate.rate*surface}"></h1>
                            </div>
                            <!--<div class="post-more"><a class="more-link" href="#">Read more</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="divider-d">
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">TitaN</a>, All Rights Reserved</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>




<span th:replace="fragments :: scripts"></span>
</body>
</html>